<!-- <div id="root"> -->

  <!-- <header class="main-header">
    <!-- DONE Go to 2-header-section.html --> 
  <!-- </header> --> -->

  <!-- <main class="wrapper"> -->
    <!-- Go to 3-header-section.html -->
  <!-- </main> -->

<!-- </div> -->

newPostForm.addEventListener("submit", function(e) { 
  //     e.preventDefault()
  //     fetch(`http://localhost:3000/posts`, {
  //       method: "POST",
  //       headers: {
  //         "Content-Type": "application/json"
  //       },
  //       body: JSON.stringify({
  //         "title": titleInput.value,
  //         "content": textareaEl.value,
  //         "image": {
  //           "src": imgInput.value,
  //         } //image
  //       }) //body
  //     }) //fetch
  //     .then(function(response) {
  //       if (response.ok) {
  //         let postImgEl = document.createElement("div")
  //         postImgEl.setAttribute("class", "post--image")

  //         let imgEl = document.createElement("img")
  //         imgEl.setAttribute("src", post.image.src)
  //         imgEl.setAttribute("alt", post.image.alt)

  //         postImgEl.append(imgEl)

  //         // POST CONTENT SECTION
  //         let postContentEl = document.createElement("div")
  //         postContentEl.setAttribute("class", "post--content")

  //         let h2El = document.createElement("h2")
  //         h2El.innerText = post.title

  //         let pEl = document.createElement("p")
  //         pEl.innerText = post.content

  //         postContentEl.append(h2El, pEl)

  //         formEl.reset()
  //       } //if response.ok
  //     }) //.then
  //  })
    
