<main class="wrapper">
  <section class="create-post-section">
    <!--  <form id="create-post-form" autocomplete="off">
      <h2>Create a post</h2>
      <label for="image">Image</label>
      <input id="image" name="image" type="text" />
      <label for="title">Title</label>
      <input id="title" name="title" type="text" />
      <label for="content">Content</label>
      <textarea id="content" name="content" rows="2" columns="30"></textarea>
      <div class="action-btns">
        <button id="preview-btn" type="button">Preview</button>
        <button type="submit">Post</button>
      </div>
    </form> --> -->


    FOR THE CHALLENGE START
    <div class="post">
      <!-- Go to post.html and scroll down to the preveiw cards -->
    </div>
    FOR THE CHALLENGE END
  </section>
</main>



newPostForm.addEventListener("submit", function(e) { 
  //     e.preventDefault()
  //     fetch(`http://localhost:3000/posts`, {
  //       method: "POST",
  //       headers: {
  //         "Content-Type": "application/json"
  //       },
  //       body: JSON.stringify({
  //         "title": titleInput.value,
  //         "content": textareaEl.value,
  //         "image": {
  //           "src": imgInput.value,
  //         } //image
  //       }) //body
  //     }) //fetch
  //     .then(function(response) {
  //       if (response.ok) {
  //         let postImgEl = document.createElement("div")
  //         postImgEl.setAttribute("class", "post--image")

  //         let imgEl = document.createElement("img")
  //         imgEl.setAttribute("src", post.image.src)
  //         imgEl.setAttribute("alt", post.image.alt)

  //         postImgEl.append(imgEl)

  //         // POST CONTENT SECTION
  //         let postContentEl = document.createElement("div")
  //         postContentEl.setAttribute("class", "post--content")

  //         let h2El = document.createElement("h2")
  //         h2El.innerText = post.title

  //         let pEl = document.createElement("p")
  //         pEl.innerText = post.content

  //         postContentEl.append(h2El, pEl)

  //         formEl.reset()
  //       } //if response.ok
  //     }) //.then
  //  })
    
